# This is a basic workflow to help you get started with Actions

name: SIGNINJUEJIN

# Controls when the workflow will run
on:
  schedule:
    - cron: '21 3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.17.0] #指定node版本
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }} #使用action安装node环境
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: 'Install NPM dependencies'
      run: npm install
    - name: 'Run code'
      run: node index.js
      env:
        AID: ${{ secrets.AID }}
        UUID: ${{ secrets.UUID }}
        COOKIE: ${{ secrets.COOKIE }}
        WXTOKEN: ${{ secrets.WXTOKEN }}
        HISTORYID: ${{ secrets.HISTORYID }}

